<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

Cars:
<table border="1">
    <tr>
        <th>model</th>
        <th>mileage</th>
        <th>price</th>
    </tr>
    <tr th:each = "tempCar: ${cars}">
        <td th:text="${tempCar.model}"></td>
        <td th:text="${tempCar.mileage}"></td>
        <td th:text="${tempCar.price}"></td>
    </tr>
</table>

</body>
</html>